@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
            {
                <li>
                    @course.DataTime -@course.Lecturer.Name
                </li>
            }
    </ul>
</div>
<div>
    <ul class="course">
        @foreach (var course in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.DataTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DataTime.ToString("DD")
                        </div>
                        <div class="details">
                            <span class="lecturer">
                                @course.Lecturer.Name
                            </span>
                            <span class="category">
                                @course.Category.Name
                            </span>
                        </div>

                    </div>
                </li>
            }
    </ul>
</div>